include field.pug
include profilePic.pug

mixin profileForm(profile = {})

  form.profile-form(method='POST', enctype='multipart/form-data')

    +profilePic(profile, 'pic-preview')

    label.field
      | Pic
      input(type='file', name='pic', onchange='previewPic(this.files)')

    +field('text', 'name', 'Name', profile.name, true)
    +field('email', 'email', 'Email', profile.email)
    +field('tel', 'phone', 'Phone', profile.phone)

    input.submit(type='submit', value='Submit')

